
@import url("//hello.myfonts.net/count/3da89f");
  
@font-face {
  font-family: "GreycliffCF-Bold";
  src: url('webFonts/GreycliffCFBold/font.woff2') format('woff2'), url('webFonts/GreycliffCFBold/font.woff') format('woff');
}

@font-face {
  font-family: "GreycliffCF-Regular";
  src: url('webFonts/GreycliffCFRegular/font.woff2') format('woff2'), url('webFonts/GreycliffCFRegular/font.woff') format('woff');
}


:root {
    --black: #000;
    --gray-dark: #545454;
    --gray-light: #ebebeb;
    --yellow: #fdeb17;
    --yellow-light: #fffae3;
    --green-light: #e6f7e7;
    --white: #fff;
    --font-sans-serif: Poppins, sans-serif;
    --font-serif: Brawler, serif;
}
  
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
  
body {
  font-family: var(--font-serif);
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 1.0;
}
 

.AromatronRegular {
  font-family: "Aromatron-Regular";
  font-weight: 200;
  font-size:8vw;
  color: #6700b6;
}  
.GreycliffCFBold {
  font-family: "GreycliffCF-Bold";
}

.GreycliffCFRegular {
	font-family: "GreycliffCF-Regular";
  font-size:2vw;
  color: #6700b6;
}
/***
  *Headers & various stylings
  */


.header__color {
  background: #FD5E08;
  color: #6700b6;
}

.text__white {
  color: white;
}

.header2__font {
  font-family: "Aromatron-Regular";
  font-size: 3.8rem;
  font-weight:500;
  padding-left: 40px;
}

.header2__font--opposite {
  font-family: "Aromatron-Regular";
  font-size: 3.8rem;
  color: var(--yellow);
  font-weight: 500;
}

.header3__font {
  font-family: "GreycliffCF-Regular";
  font-size: 1.2rem;
  color: #6700b6;
}

.feature__header {
  font-family: "GreycliffCF-Bold";
  font-size: 3rem;
  color: #FDEB17;
  background: #000;
  text-align: center;
}

.feature__header2 {
  font-family: "GreycliffCF-Bold";
  color: white;
  background: #000;
  text-align: center;
}

.text {
  font-family: "GreycliffCF-Bold";
  color: white;
  font-size: 1.0rem;
  line-height: 1.5em;
  text-align: center;
}

.page__footer {
  text-align: center;
  font-size: 1.5rem;
  background: black;
  color: white;
  padding:  10px;
  line-height: 0.8;
}
.footer__nav {
  background: black;
}
.nav__icon {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 80px;
}
.top-footer {
  display: flex;
}
  
.bottom-footer {
  display: flex;
  padding-left: 15px;
}
.component__code--black {
  background: black;
  padding-left: 15px;
  border: 1px solid #ccc;
  margin: 0;
}
.page-footer__header--white {
    color: white;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

input[type=email] {
  width: 40%;
  background: black;
  font-family: "GreycliffCF-Regular";
  letter-spacing: .2rem;
  color: grey;
  border: none;
  border-bottom: 2px solid grey;
}

input[type=submit] {
  background: black;
  font-size: 1.3rem;
  font-family: "GreycliffCF-Regular";
  text-transform: uppercase;
  color: var(--yellow);
  border: none;
  padding: 0.8rem 3rem;
  position: relative;
  bottom: 10.5px;
}
.page-footer__header {
    color: var(--yellow);
}

.page-footer__nav li {
  list-style: none;
  font-size: 3rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: inline-block;
}

.main-nav {
  background: white;
  padding-bottom: 40px;
  display: flex;
}
.main-nav i {
  text-align: center;
}

.main-nav ul li {
  display: block;
}

.nav-left ul li {
  float: left;
}

.nav-right ul li {
  float: right;
}

.component-page__nav ul {
  list-style: none;
  margin: 0;
 overflow: hidden;
}

.fas {
  font-size: 1.5rem;
}

.far {
  font-size: 1.5rem;
}

/***
  * Atoms
  */
.card {
  max-width: 24rem;
  background: #f2f3f0;
  color: #000;
  text-align: center;
  padding-top: 8px;
}
.card__title {
  display: flex;
  font-family: "GreycliffCF-Bold";
  font-size:small;
  padding-left: 10px;
  padding-bottom: 30px;
}
.price__regular {
  padding-left: 210px;
  flex-direction:row-reverse;
  margin: 0;
}

.button {
  background: #fdeb17;
  border: 3px solid #000;
  border-radius: 6px;
  padding: 10px 20px;
  color: #000;
  display: inline-block;
  font-family: "GreycliffCF-Bold";
  text-decoration: none;
  text-align: center;
}

.button--primary {
  background: #fdeb17;
  border: 3px solid #000;
  border-radius: 6px;
  padding: 10px 20px;
  color: #000;
  display: inline-block;
  font-family: "GreycliffCF-Bold";
  text-decoration: none;
  text-align: center;
}

.button--yellow {
  background: black;
  border: 3px solid #fdeb17;
  border-radius: 6px;
  padding: 8px 16px;
  color: #fdeb17;
  display: inline-block;
  font-family: "GreycliffCF-Bold";
  font-size:0.7rem;
  text-decoration: none;
  text-align: center;
}
.card__container {
  max-width: 24rem;
  background: white;
  text-align: center;
}
.button__background {
  margin-top: 40px;
}

  /***
  * Utilities
  */
  
.container {
  padding: 2rem;
}
  
  /**
  * Components
  **/
.component {
  margin-bottom: 6rem;
  position: relative;
}
  
.component img {
  max-width: initial;
}

.component__img {
  margin: 0;
  overflow-x: auto;
  position: relative;
}
  
.component__name {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: normal;
  background: var(--gray-light);
  padding: 0.25rem;
  margin: 0;
}
.component__code {
  border: 1px solid #ccc;
  margin: 0;
}

.component__code--orange {
  border: 1px solid #ccc;
  background: #FD5E08;
  margin: 0;
  display: flex;
  overflow: hidden;
}
.hero__text {
  padding-left: 20px;
  padding-right: 65px;
}
.hero__image {
  padding-top: 15px;
}


.bit__container {
  padding-left: 40px;
  padding-right: 40px;
}


.product__text {
  padding-top: 0;
}

.component__code:before,
.component__img:before {
  content: "CODE";
  display: block;
  padding: 0.25rem;
  line-height: 1;
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--gray-light);
  color: var(--gray-dark);
}
.component__img:before {
  content: "IMG";
}
  
.component-page {
  display: block;
  padding-top: 5rem;
}
.component-page__section-heading {
  margin-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
  background: var(--black);
  color: var(--white);
  padding: 0.5rem;
  top: 4.5rem;
  z-index: 10;
}

.social-media__photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
}

.title {
  font-family: "GreycliffCF-Regular";
  font-size: 1.5rem;
  text-align: center;
}

/**
  * Homepage Styles
  **/

  /**Nav styles **/


  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
  }
  
  .component__8bit {
    content: "CODE";
    background: #000;
    margin: 0;
    display: flex;
    overflow: hidden;
  }

  .product__section {
    display: block;
    font-family: "GreycliffCF-Regular";
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }

  .header-inner__left {
    display: flex;
    align-items: center;
  }
  
  .component-page__nav {
    list-style: none;
    display: flex;
  }
  
  ul li {
    width: 4vw;
    height: 4vw;
  }
  
  .header-inner__right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  /** Hero styling**/

  .hero__background {
    background: #FD5E08;
    display: flex;
  }

  .hero__header1 {
    color: #6700b6;
  }

  .hero__div {
    width: 80vw;
    height: 80vh;
  }

  .hero__image {
    max-width: 90%;
    height: auto;
    max-height: 90%;

  }

.hero-title {
  padding-bottom: 0;
}

.button-container {
  position: relative;
  right: 50%;
}

.text-container {
  padding-top: 3vw;
  padding-left: 5vw;
  width: 100%;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

/**feature section**/

.header__background {
  background: black;
  overflow: hidden;
  padding-left: 40px;
}

.featured__products {
 display: flex;
}

.feature__wrapper {
  background: black;
}

.block {
  display: flex;
  padding-left: 10px;
}

.player[data-v-080366d3] {
  width: 100%;
  display: block;
}


